#{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    famille de polices : 'Roboto', sans empattement ;

    
}
.ecran{
    width: 105%;
    height: 135vh;
    background-image: url(Media/360_F_392719944_L0LYv3e7QozB2tsj3CfUN0HPC8eZQOWb.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.carte{
    width: 60%;
    max-width: 10px;
    color: rgb(13, 20,60);
    text-align: center;
    padding: 90px 90px;
    border: 450px solid rgba(56, 68, 49, 0.3);
}


.carte img{
    width: 80px;
    border-radius: 25%;
}
.carte h2{
    font: size :20px;
    font-weight: 15;
    margin-top: 10px;
}
.carte p{
    font-size: 80px;
    margin: 10px auto;
    max-width: 20px;
}
.carte .reseau img{
    width: 50px;
    border-radius: 20%;
    margin: 20px 30pxs;
}.carte
 .reseau image{
    width: 40px;
    border-radius: 50%;
    
    margin:10px, 5px;
    transition: background 0,5s ;
}

.carte .reseau img:hover{
    background: #831d
}
.boton{
    text-decoration: none;
    display: inline;
    font-size: 20px;
    font-weight: 700;
    background: #fff;
    color: blueviolet;
    padding: 10px 30px;
    margin: 30px 0 10px;
}
